*{
    font-family: Arial, Helvetica, sans-serif ;
}
body{
    background-color: rgb(65, 65, 66);
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
    align-items: center;
}

.Iniciais {
    border-radius: 8px;
    width: 500px;
}

.Pokemon{
    width: 200px;
}

.banner{
    text-align: center;
    align-items: center;
}

.Lendarios{
    padding: 50px;
}